//변수 처리
// scss 파일명 앞에 _ 의미
// : 이 파일은 css 파일로 변환될 필요가 없음을 알림
$color-red: red;
$color-orange: orange;
$color-yellow: yellow;

$animation-duration: 0.4s;

$color-1: rgb(140, 191, 253);
$color-2: rgb(47, 146, 233);
$color-3: rgb(52, 118, 231);
$color-4: rgb(36, 61, 206);
$color-5: rgb(0, 0, 166);
