.parent{
  display: flex;
}



.children{
  width: 100px;
  height: 100px;
  border: 1px solid red;
  background-color: black;
  margin: 10px;
}

@media screen and (min-width:500px) and (max-width:700px) {  
  .parent{
    flex-direction: column;
  }
  .children{
    background-color: blue;
  }
} 
/* 미디어쿼리는 맨 마지막에 작성 */
/* screen and도 생략가능 */