.main{
  background-color: red;
  width: 300px;
  height: 300px;
}



img{
  width: 300px;
  height: 300px;
  /* translate(100px, 100px); -> 이동 */
  /* scale: 크기조절 */
  /* rotate: 회전 */
  /* skew: 기울기 */



}