div {
  background-color: orange;
  background-image: url("pine-hills-8419433_1920.jpg");
  /*background-repeat: 배경이미지 반복*/
  background-repeat: no-repeat;
  /*background-position: 배경이미지 위치 설정*/
  background-position: bottom;
  background-size: 100%;
  /*background-attachment: 배경이미지 스크롤 설정*/
  background-attachment: fixed;
  /*overflow: scroll;*/
  width: 100%;
  height: 500px;
}

p{
  height: 1500px;
} 